Flask
Flask-SQLAlchemy
Flask-Mail
mysql-connector-python
python-dotenv
firebase-admin
sentence-transformers==2.7.0
spacy==3.7.5
numpy==1.23.5
tensorflow==2.13.0
twilio
Flask-Migrate
gunicorn
psycopg2-binary