{% extends "base.html" %}
{% block content %}
<h2>Contact Us</h2>
<form method="POST">
    <li class = 'nav-item'>
    <input type="text" name="first_name" placeholder="First_Name">
    <input type="text" name="last_name" placeholder="Last_Name">
    </li>
    <li class = 'nav-item'></li>
    <input type="email" name="email" placeholder="Email">
    <input type="number" name="mobile no" placeholder="Phone number">
    </li>
    <li class = 'nav-item'>
    <input type="text" name="location" placeholder="current location">
    <textarea name="message" placeholder="Message" rows="5" cols="40"></textarea>
    </li>
    <button type="submit">Send</button>
</form>
    <p class="my-paragraph">Phone No: 8179027681<br>
    Email_Id: t.naresh5422@gmail.com <br>
    Address: CBPuran, RSNagar, Duvvur, Kadapa, AP - 516175, 
    </p>
{% endblock %}