{% extends "base.html" %}
{% block content %}
<h2>Contact Us</h2>
<form method="POST">
    <input type="text" name="first_name" placeholder="Your First_Name">
    <input type="text" name="last_name" placeholder="Your Last_Name">
    <input type="email" name="email" placeholder="Your Email">
    <input type="number" name="mobile no" placeholder="Your Phone number">
    <input type="text" name="location" placeholder="Your current location">
    <textarea name="message" placeholder="Your Message" rows="5" cols="40"></textarea>
    <button type="submit">Send</button>
</form>
<p class="my-paragraph">Phone No: 8179027681<br>
    Email_Id: t.naresh5422@gmail.com <br>
    Address: CBPuran, RSNagar, Duvvur, Kadapa, AP - 516175, 
    </p>
{% endblock %}