{% extends "base.html" %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header">
                <h3 class="text-center font-weight-light my-4">
                    <i class="bi bi-shield-lock"></i> Set New Password
                </h3>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="form-floating mb-3">
                        <input class="form-control" id="password" name="password" type="password" placeholder="New Password" required>
                        <label for="password">New Password</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="confirm_password" name="confirm_password" type="password" placeholder="Confirm New Password" required>
                        <label for="confirm_password">Confirm New Password</label>
                    </div>
                    <div class="d-grid mt-4 mb-0">
                        <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}